<!DOCTYPE HTML>
<html>
<head>
    <title>KBL 팀 추천 서비스 - WhatsYourTeam</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id='container'>
    <div id='box-left'></div>
    <div id='box-center'>
        <div id = "introduction1">제출이 완료되었습니다</div>
        <div id = "introduction2">감사합니다</div>
    </div>
    <div id='box-right'></div>
</div>
</body>

<style>
#container {
  display: flex;
  width : 100vw;
  height : 100vh;
}

#box-left {
  border-right : 1px solid black;
  flex: 1;
}

#box-center {
  flex: 3;
  text-align: center;
}

#introduction1{
    margin-top : 250px;
    font-weight : bold;
    font-size : 25px;
}

#introduction2{
    margin-top : 20px;
    font-weight : bold;
    font-size : 80px;
}

#box-right {
  flex: 1;
  text-align: right;
  border-left : 1px solid black;
}
</style>
</html>